<!DOCTYPE html>
<html lang="en" style="  background-color: #e4e9fd;
background-image: -webkit-linear-gradient(65deg, #a683e3 50%, #e4e9fd 50%);
min-height: 1000px;font-family: Roboto;">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>

    <link rel="stylesheet" href="../public/CSS/style.css">
</head>

<body>

</body>
    </html>


   